@{
    ViewBag.Title = "About";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />
<h2 class="center">The Jacqueline Radtke Development Team</h2>

<div class="container center wow fadeInDown">
    <img src="~/Content/Images/About Us.jpg" alt="About Us" class="floatLeft" />
    <p>
        We are a small development team that put together a guide for all of you hard working explorers out there!
        When you're roaming the big open world and have questions, you should know where to look with us! We have a large
        selection of information to help you out! Our only goal is give you the right information as quickly as possible.
        If you have any questions head to our forum. We have moderators there to to make sure that content is safe and
        helpful. Or send us and email and we'll make sure to make any changes or help you as best we know how.
    </p>
    <p>
        We are welcoming of your feedback and appreciate it if your willing to send us something! We'd love to hear from you!
    </p>
</div>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.prettyPhoto.js"></script>
<script src="~/Scripts/jquery.isotope.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/wow.min.js"></script>

