@{
    ViewBag.Title = "Contact";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">

    @* Code from W3schools tutorials *@
    @* http://www.w3schools.com/googleapi/google_maps_basic.asp *@
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(44.7646836, -85.5843242),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head><!--/head-->
<br />
<br />
<br />
<br/>
<br/>
<br/>

<h2>Contact</h2>

<p>Feel free to contact us anytime! We're available at all times of the day!</p><br/>

<address>
    NorthWestern Michigan College<br />
    Traverse City, MI 49626<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<body>
    <div id="googleMap" style="width:500px;height:380px;"></div>
</body>

<div class="col-md-4 col-sm-12">
    <div class="contact-form">
        <h2>Send a message</h2>
        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
            <div class="form-group">
                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
            </div>
            <div class="form-group">
                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
            </div>
        </form>
    </div>
</div>
