@model IEnumerable<ReviewerProject.Models.Comment>

@{
    ViewBag.Title = "Thread Comments";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>List of Comments</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />
<h2>Reviews for <strong>@ViewBag.ThreadTitle</strong></h2>

<table class="table">
    @foreach (var review in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => review.Content) <br />
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add a Comment", "UserCreate", "ThreadComments", new { ThreadID = ViewBag.ThreadID }, null) <br /><br/><br/>


@Html.ActionLink("Return to thread list.", "ListThreads", "Threads")
