@{
    ViewBag.Title = "Roles by User";
    string userName = ViewBag.UserName;
}

<h2>Roles by User</h2>
<h3>User: @ViewBag.UserName</h3>

<p>
    @Html.ActionLink("Add a Role", "AddRoleToUser", new { userName = userName })
</p>
<table class="table">
    <tr>
        <th>
            User Role
        </th>
        <th></th>
    </tr>

    @foreach (var role in ViewBag.RolesForUser)
    {
        <tr>
            <td>
                @role
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteRoleForUser", new { userName = userName, roleName = role })
            </td>
        </tr>
    }

</table>

<a href="~/Account/Index">Click here to return to the list of users.</a>